.container-header{
  background: black;
  align-items: center;
}

.nav-link, h3{
  color: white;
}

.img2{
  width: 100px;
  height: 50px;
  /* border-top: 10px solid; */
  /* border-bottom: 10px solid; */
  /* border-left: 4px solid; */

}