.i1{
    height: 80%;
    width: 50%;
}

.i2{
    height: 80%;
    width: 50%;
}

.i3{
    height: 80%;
    width: 50%;
}
.i4{
    height: 80%;
    width: 50%;
}

.heading1{
    font-family: "Trirong", serif;
}

.c1{
    width: 18rem;
    height: 150px;
    width: 50px;
}

.img7{
    height: 50%;
    width: 100%;
}

.c2{
    width: 18rem;
    height: 150px;
    width: 50px;
}

.c3-i1{
    height: 250px;
}
